{% extends "layout.html" %}
{% block content %}
<div class="aboutme">
    <h1>Some basic information about me!</h1>
    <p><br>I'm currently a fresher exploring various aspects of python development. <br>
    I have a Bachelors degree in Computer Engineering from <a class="bigsize" href="https://www.tcetmumbai.in/">TCET</a>. <br>
    I recently finished my Masters degree in Cyber Security from <a class="bigsize" href="http://www.nitkkr.ac.in/">NIT Kurukshetra</a>. <br>
    <br>
    Big dream: Work my way towards becoming a techichal director one day. <br><br>
    <p>
    <h3>My hobbies include:</h3>
    <ul>
            <li>Listening Songs and watching Ted talks.</li>
            <li>Playing high definition games on mobile and PC.</li>
            <li>Binge watching sci-fi shows.</li>
            <li>Occasionally reading mythological stories.</li>
            <li>Reading fiction books from authors like Card Orson Scott and J K Rowling.</li>
    </ul>

</div>


{% endblock %}
