{% extends "layout.html" %}
{% block content %}
<div class="academics">
  <h1>List of key subjects studied in course</h1>
    <h3>Master of Technology:</h3>
    <ol>
        <li>Soft Computing</li>
        <li>Number Theory and Cryptography</li>
        <li>Advanced Data Structures and Algorithms</li>
        <li>Pattern Recognition and Machine Learning</li>
        <li>Distributed Computing</li>
        <li>System and Network Security</li>
    </ol>
    <h3>Bachelor of Engineering</h3>
    <ol>
        <li>Data Warehouse and Mining</li>
        <li>Parallel and Distributed Systems</li>
        <li>Big Data Analytics</li>
        <li>Cryptography and System Security</li>
        <li>Artificial Intelligence</li>
        <li>Soft Computing</li>
        <li>Software Engineering</li>
        <li>Distributed Databases</li>
        <li>Operating Systems</li>
        <li>Computer Networks</li>
        <li>Web Technologies</li>
        <li>Computer Graphics</li>
        <li>Algorithms</li>
        <li>Data Structures</li>
        <li>Object Oriented Programming</li>
        <li>Structured Programming</li>
    </ol>
</div>
{% endblock %}
