{% extends "layout.html" %}
{% block content %}
<div class="background">
    <h1>Technical Skills:</h1>
    <ul class="skills ul">
            <li>Languages             : Python, Java, C</li>
            <li>Python Libraries      : Pandas, Numpy, Folium, Flask, Os, Difflib</li>
            <li>Frontend Technologies : HTML, CSS, JavaScript</li>
            <li>Backend Technologies  : MySQL, PHP</li>
            <li>Hardware Devices      : Raspberry Pi, Aurdino</li>
    </ul>

    <h1>Workshops:</h1>
    <ul class="skills ul">
            <li>Industry Oriented Workshop (IOW-2014) on Android Application Development.</li>
            <li>Cisco Network Design and Implementation Workshop (January - 2015)</li>
            <li>Workshop on Raspberry Pi for automatic Headlamp System (February - 2015)</li>
            <li>Workshop on LSTM Playground, Information Security, Cryptography and Cyber Security (March - 2019)</li>
    </ul>

    <h1>Publications:</h1>
    <ul class="skills ul">
            <li>ASCII and Timestamp Based Encryption Algorithm – Tata McGraw Hill 2017 Edition (ICCCV-2017)</li>
            <li>Secure and Efficient Session Initiation Protocol Authentication Scheme for VoIP Communications (ICCES 2019)</li>
            <li>A Smart Card based SIP Authentication Scheme for Multiserver Architecture (FTNCT 2019)</li>
    </ul>

    <h1>Conferences:</h1>
    <ul class="skills ul">
            <li>Multicon-W Research Presentation 2017</li>
            <li>MIND International Conference 2019 (Organizing Committee)</li>
    </ul>

    <h1>Co-curricular:</h1>
    <ul class="skills ul">
            <li>Global rank 32 in CodeCyphers 3.0 on HackerEarth (26 Sept 2014)</li>
            <li>NPTEL certified programmer in C language (Basic Level)</li>
            <li>GATE score of 577 and 97.7 percentile in GATE-2017</li>
    </ul>
</div>
{% endblock %}
