{% extends "layout.html" %}
{% block content %}
<div class="projects">
    <h1>Python Projects:</h1>
    <ol>
            <li><b>Interactive Dictionary:</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>

                        <li>enter word and get definition(s) of the word as per language</li>
                        <li>definitions are returned regardless of the case in which word is entered (Hello, hEllO, hello, HELLO, etc. are all same)</li>
                        <li>get nearest matching words from dictionary if entered query does not exist in language</li>
                        <li>application terminates when word is found in dictionary or /exit is entered</li>

                    <div>
                        <p>Libraries used: os, json, difflib.</p><br>
                    </div>
                </ul>
            </li>

            <li><b>Webmap:</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>
                      <li>displays different cities of world on map with marker</li>
                      <li>displays capital of countries in circle marker</li>
                      <li>displays name of location in popup</li>
                      <li>colour codes different countries according to their population with choropleth map</li>
                      <li>clusters or expands markers on map for accessibility of user</li>
                      <li>toggles different features with a toggle window on top left</li>
                    <div>
                        <p>Libraries used: folium, pandas.</p><br>
                    </div>
                </ul>
            </li>

            <li><b>Website Blocker:</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>
                      <li>runs in background as python script</li>
                      <li>blocks and unblocks website automatically as per scheduled time</li>
                    <div>
                        <p>Libraries used: time, datetime.</p><br>
                    </div>
                </ul>
            </li>

            <li><b>Portfolio Website:</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>
                      <li>current website</li>
                    <div>
                        <p>Libraries used: flask, os.<br>
                        Technologies used: HTML, CSS, Python.</p><br>
                    </div>
                </ul>
            </li>
    </ol>
    <h1>Academic Implementations:</h1>
    <ol>
            <li><b>Feedback System for College (Faculty and Infrastructure)(2014 - 2017):</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>
                      <li>System takes input from the students and based on their ratings final summarized report is given to Head of Department as well as principle of college</li>
                      <li>Helped in improvement of college as well as strengthened student teacher rapport</li>
                      <li>Currently active at TCET's </li>
                    <div>
                        <p>Technologies used: HTML, CSS, JavaScript, PHP, MySql.</p><br>
                    </div>
                </ul>
            </li>

            <li><b>Attendance System for College (2014 - 2016):</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>
                      <li>System automated the entire attendance system of college, thus saving 100 man-hours in single month which means saving 800 man-hours annually</li>
                      <li>Attendance of students was calculated and final defaulter list was developed monthly as well as semester wise</li>
                      <li>Currently active at TCET's </li>
                    <div>
                        <p>Technologies used: HTML, CSS, JavaScript, PHP, MySql.</p><br>
                    </div>
                </ul>
            </li>


    </ol>

    <h1>Research Projects:</h1>

    <ol>
            <li><b>ASCII and Timestamp Based Encryption Algorithm (BE Project)(2015 - 2017):</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>
                      <li>Developed an all new algorithm for data encipherment which depends on the ASCII value of the given data</li>
                      <li>This algorithm is faster than Data Encryption Standard </li>
                      <li>Published as research paper in ICCCV-2017</li>
                    <div>
                        <p>Technologies used: C, Java.</p><br>
                    </div>
                </ul>
            </li>

            <li><b>User Authentication Mechanism for Multisegment Smartcards in Single Server Environment (M.Tech Research)(2017 - 2019):</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>
                      <li>Developed an all new system for user authentication in sngle server smartcards environment</li>
                      <li>This system is able to withstand most commonly known attacks</li>
                      <li>Published as research paper in ICCES-2019</li>
                    <div>
                        <p>Technologies used: AVISPA.</p><br>
                    </div>
                </ul>
            </li>

            <li><b>User Authentication Mechanism for Multisegment Smartcards in Multiserver Environment (M.Tech Research)(2017 - 2019):</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>
                      <li>Developed an all new system for user authentication in multiserver smartcards environment</li>
                      <li>This system is able to withstand most commonly known attacks</li>
                      <li>Published as research paper in FTNCT 2019</li>
                    <div>
                        <p>Technologies used: AVISPA.</p><br>
                    </div>
                </ul>
            </li>

    </ol>

    <h1>Pet Project:</h1>

    <ol>
            <li><b>Randomization based Dynamic Crypto-System (Under Progress):</b>
                <ul>
                  <div>
                    <p>Features:</p>
                  </div>
                      <li>Adds a randomness factor to standard encryption techniques thus increasing the breaking complexity</li>
                      <li>Design focused on securing data in Quantum Computing Environment</li>
                      <li>Coins utilization of pseudodynamic data for secure cryptography</li>
                    <div>
                        <p>Technologies used: C, Java.</p><br>
                    </div>
                </ul>
            </li>

    </ol>
</div>
{% endblock %}
